body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #262728;
}

* {
  box-sizing: border-box;
}

.app{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1{
  width: 100%;
  font-weight: 300;
  margin-bottom: 10%;
  text-align: center;
}
.station-holder{
  height: auto;
  display: flex;
}

img{
  height: auto;
  width: auto;
  max-width: 120px;
  max-height: 120px;
}
.content{
  width: 100%;
  border-left: 1px solid rgba(255,255,255,0.8);
  padding: 0 15px 15px 15px;
}

h2{
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

audio{
  width: 100%;
}

@media (max-width: 620px){
  .station-holder{
    width: 100%;
    margin: 1em 2em;
  }

}

@media (min-width:621px) and (max-width:800px){
  body {
    padding: 0 2em;
  }

  .station-holder{
    width: 48%;
    margin-bottom: 2em;
  }
}

@media (min-width: 801px){
  body {
    padding: 0 2em;
  }

  .station-holder{
    width: 48%;
    margin-bottom: 2.5em;
  }
}
